.mainLable {
    font-weight: 700;
    color: var(--tg-theme-text-color);
    font-size: 24px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.user_info {
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color);
    border: 2px solid rgba(0, 0, 0, .5);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image_container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--tg-theme-accent-text-color);
    overflow: hidden;
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_info_block {
    margin-left: 15px;
}

.user_name {
    font-size: 18px;
    font-weight: 700;
    color: var(--tg-theme-text-color);
    margin-bottom: 4px;
}

.user_id {
    font-size: 16px;
    color: var(--tg-theme-accent-text-color);
}

.set_group {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.set_group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: var(--tg-theme-secondary-bg-color);
    cursor: pointer;
}

.set_group::after {
    content: '';
    position: absolute;
    top: 50%;
    font-size: 10px;
    right: 20px;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    border-bottom: 2px solid var(--tg-theme-hint-color);
    border-left: 2px solid var(--tg-theme-hint-color);
    transform: rotateZ(45deg);
}