.select_container {
    position: relative;
    width: 100%;
    padding: 8px 30px 8px 8px;
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}

.current_element {
    width: 100%;
    background-color: var(--tg-theme-bg-color);
    font-weight: 700;
    padding: 5px 10px;
    color: var(--tg-theme-accent-text-color);
    border-radius: 10px;
}

.select_container::after {
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--tg-theme-hint-color);
    border-bottom: 2px solid var(--tg-theme-hint-color);
    position: absolute;
    top: 50%;
    right: 14px;
    transform: rotateZ(45deg);
}

.arrow {
    width: 9px;
    height: 9px;
    border-right: 3px solid var(--tg-theme-hint-color);
    border-bottom: 3px solid var(--tg-theme-hint-color);
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translate(75%) rotateZ(45deg);
}

.arrow.active {

}

.elements {

}

.option {

}

.disable {
    display: none;
}